In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame([[1,2,3],[2,7,3],[6,3,9]],columns=['a','b','c'])

In [3]:
df1

   a  b  c
0  1  2  3
1  2  7  3
2  6  3  9

In [4]:
df2=pd.DataFrame([[11,2,13],[22,7,83],[66,3,91]],columns=['x','y','z'])

In [5]:
df2

    x  y   z
0  11  2  13
1  22  7  83
2  66  3  91

In [7]:
df3=pd.merge(df1,df2,right_on='y',left_on='b')

In [8]:
df3

   a  b  c   x  y   z
0  1  2  3  11  2  13
1  2  7  3  22  7  83
2  6  3  9  66  3  91