In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame([[1,2,3,4],[5,6,7,8],[2,7,3,23],[3,6,8,23],[23,23,63,12]],columns=['a','b','c','d'])

In [3]:
df1.head()

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   2   7   3  23
3   3   6   8  23
4  23  23  63  12

In [5]:
df1.to_csv('export.csv',index='False')